#startGame{
  margin-left: 4px;
}

#difficulty{
  margin: 3px;
  margin-left: 10px;
}

h4 {
  margin: 2px;
}

.yellow{
  background-color: yellow;
  color: yellow;
}

.green{
  background-color: green;
  color: green;
}

.blue{
  background-color: blue;
  color: blue;
}

.red{
  background-color: red;
  color: red;
}

.purple{
  background-color: purple;
  color: purple;
}

.orange{
  background-color: orange;
  color: orange;
}
