#startGame{
  margin-left: 4px;
}

#difficulty{
  margin: 3px;
  margin-left: 10px;
}

h4 {
  margin: 2px;
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}

.blue{
  background-color: blue;
}

.red{
  background-color: red;
}

.purple{
  background-color: purple;
}

.orange{
  background-color: orange;
}
